<html>

<head>
    <title>

    </title>
</head>

<body>
    <button class="layui-btn" style="position: absolute;right: 20px;top: 60%;
                                margin-top: -9px;cursor: pointer" onclick="Import()">
        导出数据
    </button>
    <script>

        function Import() {
            location.href = "/api/excel";
        }
    </script>
</body>

</html>
